// AIG ui-toolkit - _lists.scss

$bullet-colors: $orange-darkest $orange-dark $red-dark $magenta-dark $primary-medium-blue $aig-blue $teal-medium $green-dark $green-medium $notification $yellow-darkest $red-darkest $magenta-darkest;
@each $current-color in $bullet-colors {
  $i: index($bullet-colors, $current-color);
  .bullet-#{$i} {
    &::before {
      color: $current-color!important;
    }
  }
}

.list-bullets {
  overflow: hidden;
  > li {
    list-style: none;
    position: relative;
    padding: 0 0 0 2em;
    margin-left: -4rem;
    color: $steel-darkest;
    font-size: 1.2rem;
    line-height: 2.2rem;

    &::before {
      position: absolute;
      content: '\2022';
      color: red;
      top: -1.4rem;
      left: 0.1rem;
      text-align: left;
      font-size: 4.5em;
      line-height: 0.75;
    }
  }
}





